{{>layout/header}}

<div class="col-md-12">
    <h2>게시글 등록</h2><br>
    <div class="col-md-6">
        <form>
            <div class="form-group">
                <label for="category">
                    <select name="category" id="category">
                        <option value="none">-- 게시판 선택 --</option>
                        {{#category}}
                            <option value={{category_id}}>{{name}}</option>
                        {{/category}}
                    </select>
                </label>
            </div>
            <label for="seq_num"></label><input type="hidden" id="seq_num" value={{seq_num}}><br>

            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" placeholder="제목 입력"><br><br>
            </div>
            <div class="form-group">
                <label for="login_id">작성자</label>
                <input type="text" class="form-control" id="login_id" value={{login_id}} readonly><br><br>
            </div>
            <div class="form-group">
                <label for="content">게시글</label>
                <textarea class="form-control" id="content" placeholder="내용을 입력하세요" ></textarea><br><br>
            </div>
        </form>
        <a href="/Board/postList/page=1&category=-1&query=" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-save">등록</button>

    </div>
</div>

{{>layout/footer}}