{{>layout/header}}
<!-- 목록 출력 영역 -->
<table class="table table-horizontal table-bordered">
    <div class="row">
        <div class="col-md-4" style="float: left; width: 33%; padding-left: 10px">
            <a href="/Board/post/create" role="button" class="btn btn-primary ">등록하기</a><br>
        </div>    <!-- "col-md-6" : 화면을 컬럼 단위로 나누었을 때, 그 중 6칸 크기의 그리드를 사용하겠다는 뜻 -->
        <div class="col-md-7">
            <label for="search_keyword"></label><input type="text" id="search_keyword" style="width: 600px" placeholder="제목으로 검색">
            <input type="button" id="btn-post-search" class="btn-secondary" value="검색" style="float:left; padding-left: 10px">
        </div>
        <div class="col-md-1" style="float: right; padding-right: 25px">
            <a href="/member/info" role="term">{{login_id}}</a>
            <span>님</span>
        </div>
    </div>
    <div class="row">
        {{>layout/menu}}
        <div class="col-md-11">
            <table>
                <thead class="thead-strong">
                <tr>
                    <th style="width: 10%;align-content: center;">게시글 번호</th>
                    <th style="width: 15%;align-content: center;">분류</th>
                    <th style="width: 45%;align-content: center;">제목</th>
                    <th style="width: 20%;align-content: center;">작성자</th>
                    <th style="width: 20%;align-content: center;">작성 날짜</th>
                </tr>
                </thead>
                <tbody id="tbody">
                {{#postList}}  <!-- post 라는 list 를 순회(반복문)한다. -->
                <tr>
                    <td id="post_id">{{post_id}}</td>
                    <td>{{category.name}}</td>
                    <td><a type="button" href="/Board/post/read/{{post_id}}&page={{currentPage}}" id="btn-title">{{title}}</a> [{{comment_count}}]</td>
                    <td>{{member.login_id}}</td>
                    <td>{{created_date}}</td>
                    <!-- 수정 날짜 -->
                </tr>
                {{/postList}}
                </tbody>
            </table>
        </div>
    </div>
</table>
    <br><br>
    <div style="align-content: center;">
        <table style="margin-left: auto;margin-right: auto;width: 300px">
            {{#pageBtn}}
                <th><a type="button" id="btn-pageNum" href="/Board/postList/page={{pageNumber}}&query={{searchKeyword}}">{{button}}</a></th>
            {{/pageBtn}}
        </table>
    </div>
    {{>layout/footer}}
