{{>layout/header}}


<div class="col-md-12">
    <h2>글 등록</h2><br>
    <div class="col-md-6">
        <form>
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" placeholder="제목 입력"><br><br>
            </div>
            <div class="form-group">
                <label for="author">작성자</label>
                <input type="text" class="form-control" id="author" placeholder="작성자"><br><br>
            </div>
            <div class="form-group">
                <label for="content">게시글</label>
                <textarea class="form-control" id="content" placeholder="내용을 입력하세요" ></textarea><br><br>
            </div>
        </form>
        <a href="/post/list" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-save">등록</button>

    </div>
</div>

{{>layout/footer}}