    <style>
        body {
            margin: 0;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 10%;
            background-color: #f1f1f1;
            position: fixed;
            height: 100%;
            overflow: auto;
        }

        li a {
            display: block;
            color: #000000;
            padding: 8px 16px;
            text-decoration: none;
        }

        li a.active {
            background-color: #1f147e;
            color: white;
        }

        li a:hover:not(.active) {
            background-color: #1f147e;
            color: white;
        }
    </style>
    <div>
        <ul>
            <li><a href="/Board/postList/page={{currentPage}}&category=-1&query={{searchKeyword}}">전체글</a></li>
            {{#category}}
                <li><a href="/Board/postList/page={{currentPage}}&category={{category_id}}&query={{searchKeyword}}">{{name}}</a></li>
            {{/category}}
        </ul>
    </div>

